@{
   // ViewBag.Title = "Change password";
    //Layout = "~/Views/Shared/_LoginPartial.cshtml";
}


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    @*@Styles.Render("~/Content/bootstra")*@
    <title>Egnatium Strategy - Administrator Panel - Login</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <!-- Bootstrap Core CSS -->
    <link href="../bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- MetisMenu CSS -->
    <link href="../bower_components/metisMenu/dist/metisMenu.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="../dist/css/sb-admin-2.css" rel="stylesheet">
    <!-- Custom Fonts -->
    <link href="../bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <script type="text/javascript">

        $(document).ready(function () {

            var check;

            $("#newPassword").keyup(function (e) {
                check = true;
                if ($("#newPassword").val() === $("#confirmPassword").val()) {
                    $("#errorLabel2").hide()
                    return false;
                }
                else {
                    $("#errorLabel2").show();
                    $("#errorLabel2").text("New Passwords Mismatched...");
                    return false;
                }
            });

            $("#confirmPassword").keyup(function (e) {
                check = true;
                if ($("#newPassword").val() === $("#confirmPassword").val()) {
                    $("#errorLabel2").hide()
                    return false;
                }
                else {
                    $("#errorLabel2").show();
                    $("#errorLabel2").text("New Passwords Mismatched...");
                    return false;
                }
            });
            
        });

        function checkForm(form) {
            if (form.username.value == "") {
                $("#errorLabel").text("Old Password cannot be blank!");
                form.username.focus();
                return false;
            }
            if (form.pwd1.value == "") {
                $("#errorLabel2").show();
                $("#errorLabel2").text("please enter all field");
                return false;
            }
            if (form.pwd2.value == "") {
                $("#errorLabel2").show();
                $("#errorLabel2").text("please enter all field");
                return false;
            }
            if (form.pwd2.value != form.pwd1.value) {
                $("#errorLabel2").show();
                $("#errorLabel2").text("New Passwords Mismatched...");
                return false;
            }
            
            return true;
        }

    </script>

</head>
<body>
    @*<div>
            <form action="~/Security/Login" method="post">
                <h2 class="form-signin-heading">Please login</h2>
                <input type="text" class="form-control" name="username" placeholder="userName" required="" autofocus="" style="width:250px" />
                <input type="password" class="form-control" name="password" placeholder="Password" required="" style="width:250px" />
              <label class="checkbox">
                <input type="checkbox" value="remember-me" id="rememberMe" name="rememberMe"> Remember me
            </label>
                <button class="btn btn-lg btn-primary btn-block" type="submit" style="width:50px;float:left;margin-top:5px">Login</button>
            </form>
        </div>*@
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="login-panel panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Change password</h3>
                    </div>
                    <div class="panel-body">
                        <form role="form" id="updateform" method="post" onsubmit="return checkForm(this);" action="/Security/UpdatePassword">
                            <fieldset>
                                <div class="form-group">
                                    <input class="form-control" placeholder="Old Password" name="username" id="oldPassword" type="password" autofocus value="">
                                </div>
                                
                                <div class="form-group">
                                    <input class="form-control" placeholder="New Password" name="pwd1" id="newPassword" type="password" value="">
                                </div>
                                
                                <div class="form-group">
                                    <input class="form-control" placeholder="Confirm Password" name="pwd2" id="confirmPassword" type="password" value="">
                                </div>
                                <p id="errorLabel" style="color: red ;font-size: 11px"></p>
                                <p id="errorLabel2" style="color: red; font-size: 11px"></p>
                                <label style="color: red ;font-size: 11px"></label>
                                <input type="submit" class="btn btn-lg btn-success btn-block" value="Update Password">
                                
                            </fieldset>
                        </form>
                        <br>
                        <button class="btn btn-lg btn-block"><a href="/Security/CancelPassword">Cancel</a></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="../bower_components/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- Metis Menu Plugin JavaScript -->
    <script src="../bower_components/metisMenu/dist/metisMenu.min.js"></script>
    <!-- Custom Theme JavaScript -->
    <script src="../dist/js/sb-admin-2.js"></script>
</body>
</html>

